version: "3"
services:
  elasticsearch:
    image: elasticsearch:9.2.2
    container_name: elasticsearch
    environment:
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
      - "discovery.type=single-node"
      - "xpack.security.http.ssl.enabled=false"
      - "ELASTIC_PASSWORD=passw0rd"
    ports:
      - 9200:9200
      - 9300:9300
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s http://localhost:9200/.security-7/_search",
        ]
      interval: 10s
      timeout: 10s
      retries: 15
    networks:
      - es_kibana_nw
  kibana:
    image: kibana:9.2.2
    container_name: kibana
    environment:
      - "ELASTICSEARCH_HOSTS=http://elasticsearch:9200"
      - "ELASTIC_PASSWORD=passw0rd"
    volumes:
      - ./kibana-entrypoint_9_2_2.sh:/usr/local/bin/kibana-entrypoint.sh:ro
    entrypoint: ["/bin/bash", "-c", "/usr/local/bin/kibana-entrypoint.sh"]
    ports:
      - 5601:5601
    networks:
      - es_kibana_nw
    depends_on:
      elasticsearch:
        condition: service_healthy
networks:
  es_kibana_nw:
