version: "3"
services:
  elasticsearch:
    image: elasticsearch:7.17.28
    container_name: elasticsearch
    environment:
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
      - "discovery.type=single-node"
    ports:
      - 9200:9200
      - 9300:9300
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s http://localhost:9200/_cluster/health?wait_for_status=green&timeout=5s",
        ]
      interval: 10s
      timeout: 10s
      retries: 15
    networks:
      - es_kibana_nw
  kibana:
    image: kibana:7.17.28
    container_name: kibana
    environment:
      - "ELASTICSEARCH_HOSTS=http://elasticsearch:9200"
    ports:
      - 5601:5601
    networks:
      - es_kibana_nw
    depends_on:
      elasticsearch:
        condition: service_healthy
networks:
  es_kibana_nw:
